
<div class="upload-form">
  <form (submit)="submitForm()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" [(ngModel)]="poem.title" required>
    </div>
    <div class="form-group">
      <label for="image">Image:</label>
      <input type="file" id="image" name="image" (change)="handleImageUpload($event)" accept="image/*" required>
    </div>
    <div class="form-group">
      <label for="content">Content:</label>
      <textarea id="content" name="content" [(ngModel)]="poem.content" required></textarea>
    </div>
    <button type="submit">Upload</button>
  </form>
</div>
